:root {
  --primary-color: #5ece7b;
  --black-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
nav ul {
  display: flex;
  gap: 32px;
  text-transform: uppercase;
}
nav a {
  color: var(--black-color);
}
.active {
  border-bottom: 1px solid var(--primary-color);
  height: 45px;
}
.active a {
  color: var(--primary-color);
  font-weight: 600;
}
.logo img {
  width: 42px;
  height: 42px;
}
.right_side{
  display: flex;
  gap: 20px;
}
.money{
  display: none;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: -25px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.06);
 
}
.money div{
  padding: 10px 20px;
}
.money div:hover{
  background-color: gray;
}
.currency{
  cursor: pointer;
  position: relative;
}
.currency:hover .money{
  display: block;
}
.cart{
  position: relative;
  cursor: pointer;
  height: 30px;
}
.opacity{
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 170vh;
  background-color: rgba(0, 0, 0, .2);
  top: 70px;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all .4s ease;
}
.bag{
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: auto;
  height: auto;
  z-index: 2;
  right: 0;
  top: 37px;
  padding: 30px 10px;
  background-color: white;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.06);
  transition: all .4s ease;
}
.cart:hover .bag{
  visibility: visible;
  opacity: 1;
}
.cart:hover + .opacity{
  visibility: visible;
  opacity: 1;
}
.bag_head{
  display: flex;
  padding-bottom: 30px;
}
.product{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.product_about {
width: 121px;

}
.product p{
  padding-bottom: 10px;

}
.product span{
  margin-bottom: 6px;
}
.color{
  display: flex;
  align-items: center;
  gap: 3px;
}
.active_color{
  border: 1px solid rgb(21, 240, 21);
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active_color div{
  width: 15px;
  height: 15px;
  background-color: gray;
}
.color2{
  background-color: #102b44;
  width: 15px;
  height: 15px;
}
.color3{
  background-color: #ec0cbc;
  width: 15px;
  height: 15px;
}
.product2{
  margin-top: 30px;
}
.product2 .active_color div{
  background-color: black;
}
.product2 .color2{
  background-color: blue;
}
.product2 .color3{
  background-color: orange;
}
.total{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.bag_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

}
.bag_footer .view{
  text-align: center;
  padding: 10px 30px;
  border: 1px solid black;
}
.bag_footer .check{
  text-align: center;
  padding: 10px 30px;
  background-color: green;
  color: white;
}
.size{
  display: flex;
  gap: 5px;
  margin-bottom: 7px;
}
.size div{
  width: 25px;
  height: 25px;
  border: 1px solid black;
  line-height: 25px;
  text-align: center;
}
.active_size{
  background-color: #000;
  color: white;
}
.product_img img{

  width: 121px;
  height: 190px;
}
.product_img{
  display: flex;
  gap: 10px;
  position: relative;
}
.product_img .product_count{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}
.product_count div{
width: 30px ;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}
.product_count .plus {
  border: 1px solid black;
}
.product_count .minus{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.section-title{
    font-weight: 400;
    font-size: 42px;
    line-height: 67.2px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.card{
  padding: 16px;
  transition: all .5s ease;
}
.card:hover{
  box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.card:hover .card-img .CircleIcon{
  opacity: 1;
}
.card .card-img{
  position: relative;
}
.out_of_stock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(168, 168, 168);
}
.out_of_stock_img{
  filter: opacity(30%);
}
.card .card-img .CircleIcon{
  position: absolute;
  right: 5px;
  bottom: -25px;
  height: auto;
  width: 50px;
  opacity: 0;
  transition: all .5s ease;
}
.card .card-img img{
    width: 100%;
    height: 330px;
    object-fit: cover;
}
.card-body{
  margin-top: 24px;
}
.card-body a{
  color: var(--black-color);
}
.card-body p{
 line-height: 40px;
}
.row{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

/* Product CSS start */
.product_info{
  display: flex;
  margin-top: 70px;
}
.product_info .left{
  display: flex;
  gap: 20px;
}
.product_info .left .small_img{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.product_info .left .small_img img{
  width: 80px;
}
.product_info .left .big_img img{
  width: 710px;
  height: 610px;
}
.right h3{
  margin-bottom:20px;
  font-size: 30px;
  font-weight: 600;
}
.right p{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
}
.right h4{
  font-size: 18px;
  margin-top: 43px;
  margin-bottom: 8px;
}
.right .price{
  font-size: 24px;
  font-weight: 700;
  margin-top: 23px;
}
.right .size {
  gap: 20px;
}
.right .size div{
  width: 70px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.right .active_color{
  width: 36px;
  height: 36px;
}
.right .active_color div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right .color_size{
  width: 32px;
  height: 32px;
}
.right button{
  width: 300px ;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  padding: 16px 94px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 40px;
}
.note .note_text{
  font-size: 16px;
  font-weight: 400;
  width: 292px;
  height: 103px;
}
/* Product Css end */
/* Basket Css start */
.basket_info h1{
  font-size: 32px;
  margin: 80px 0;
}
.basket_content{
  border-top: 1px solid rgb(216, 212, 212);
}
.selected_product{
  display: flex;
  justify-content: space-between;
  padding: 24px 0 32px 0 ;
}
.selected_product h3{
  font-size: 30px;
  margin-bottom:16px;
}
.selected_product h4{
  font-size: 30px;
  font-weight: 400 ;
  margin-bottom: 20px;
}
.selected_product .price{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.selected_product p{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
}
.selected_product .size div{
  width: 65px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.selected_product .color .active_color{
  width: 36px;
  height: 36px;
}
.selected_product .color .active_color div{
  width: 32px;
  height: 32px;
}
.selected_product .color div{
  width: 32px;
  height: 32px;
}
.selected_product .product_count div{
  width: 45px;
  height: 45px;
  font-size: 25px;

}
.selected_product .product_img img{
  width: 200px;
  height: 310px;
}
.change_butons{
  width: 20px;
  height: 20px;
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.product_img .change_butons img{
  /* position: absolute; */
  width: 6px;
  height: 12px;
  opacity: 1;
  /* z-index: 5; */

}
.product_img .change_butons div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  width: 24px;
  height: 24px;
  background-color: #000;
  opacity: .85;
}
.second_pr .active_color  div{
  background-color: black;
}
.second_pr .color2{
  background-color: rgb(40, 223, 236);
}
.second_pr .color3{
  background-color: orange;
}
.total_price{
  font-size: 24px;
  padding-top: 32px;
  padding-bottom: 50px;
}
.total_price p{
  margin-bottom: 8px;
}
.total_price .calculation{
  display: flex;
}
.calculation_left{
  width: 100px;
  font-weight: 400;
}
.calculation_right{
  width: 80px;
  font-weight: 700;
}
.total_price button{
  width: 279px;
  height: 43px;
  font-size: 14px;
  color: white;
  background-color:rgba(94, 206, 123, 1);;
  border: none;
  margin-top: 8px;
}
